[2011-11-12 20:17] robnoake opened #2 "Editing an administrator changes their password"
Whenever you edit an administrator their password is populated into the password field, and is changing on each save.

[2011-11-12 21:17] robnoake opened #3 "Crash after creating first admin user"
After the first administrator is created through /admin/setup, the application crashes with the following error:

[code]

Output of npm list:

[code]

[2011-11-12 23:21] serby commented on #3
Thanks Rob

This is fixed in: 39a42c1

[2011-11-12 23:21] #3 closed, assigned to nobody

[2011-12-23 16:07] serby opened #4 "Create logo"
We need a cool logo.

[2011-12-29 12:07] serby opened #5 "Filter doesn't work on generic admin index pages"
If there are no Filterable properties then don't show the filter block

[2011-12-29 16:34] #4 closed, assigned to nobody

[2011-12-29 16:35] serby commented on #4
New logo created by Jack in last release

[2012-01-11 21:23] domharrington commented on #5
Issue now fixed

[2012-01-11 21:23] #5 closed, assigned to domharrington

[2012-01-12 10:52] serby opened #14 "Refactor out console.{log,info,warn} etc"
Replace with the generic logger

[2012-01-12 16:02] serby opened #15 "Refactor how the crudDelegate handles validation errors."

[2012-01-13 22:06] serby commented on #14
fixed in 4090392

[2012-01-13 22:06] #14 closed, assigned to domharrington

[2012-01-13 22:06] serby commented on #14
Fixed in 4090392

[2012-01-16 21:26] domharrington commented on #15
Fixed and merged in 83f2181

[2012-01-16 21:26] #15 closed, assigned to domharrington

[2012-01-20 13:26] serby opened #18 "Pagination of Generic is required"

[2012-01-20 13:29] serby opened #19 "Module to create REST CRUD Api from a Entity"

[2012-02-03 12:21] domharrington opened #25 "Upgrading to Stylus 0.23.0 breaks versionPath helper"
With stylus 0.22.0 using the versionPath helper produces the following css:

`background-image: url("/images/admin/content/0.0.1/logo-control.png")`

After the upgrade to stylus 0.23.0 the following css is produced:

`background-image: 'url("/images/admin/content/0.0.1/logo-control.png")'`

This breaks the functionality of the helper and produces unexpected results.

[2012-02-03 21:59] serby commented on #25
Bugger! I'll take a look.

[2012-02-08 13:19] serby opened #30 "Bundle needs a next() style for register, configure, finalise"

[2012-02-09 12:53] domharrington commented on #18
Added in #26

[2012-02-09 12:53] #18 closed, assigned to nobody

[2012-02-14 10:12] serby opened #31 "When session timesout on a ACLed page you get 500 instead of 304 to login page"

[2012-02-14 10:13] serby opened #32 "Role view doesn't show Grants correctly"

[2012-02-21 11:07] serby opened #34 "Admin styling doesn't work in IE8"

[2012-02-21 13:43] jackbrewer commented on #34
Noted. I'm in the process of a major Stylus overhaul so the next version will be more modular and IE friendly

[2012-02-28 09:24] serby opened #35 "Allow generic views to be overridden"
Allow any of the view, list, form to be overridden with a custom view.

[2012-03-01 11:41] robnoake opened #37 "Feature Request: unique validation in schema"
Enforcing a unique constraint involves setting up a callback inside of model at present, it would be nice to be able to express this in the schema definition.

[2012-03-01 12:19] robnoake opened #38 "generic: no check to see if first field is hidden before assuming it to be title"
When creating viewSchema using generic, there is no check to see if the first field is hidden or in list before assuming it should be used as title field.

Example:

[code]

[2012-03-01 12:31] serby commented on #38
Where is it used as the title field?

[2012-03-01 14:41] robnoake commented on #38
This is for the list view generated by generic, where title controls which field has the view, edit, and delete links added to it.

[2012-03-01 23:36] serby opened #40 "Information style wraps in admin"
If you add information to a form mixin for that admin it wraps before the end of the line

[2012-03-04 22:11] serby opened #41 "Finalise Branding and Logo"

[2012-03-04 22:11] serby opened #42 "Supporting website"

[2012-03-09 16:45] #35 closed, assigned to nobody

[2012-03-10 09:01] serby commented on #37
This would be nice. Unfortunately it is hard to achieve without coupling the schema tightly to the model which is something I've been trying to avoid or doing it outside of the validation mechanism that already exists.

It will get added at some point but the architecture eludes me at present.

[2012-03-11 12:09] jackbrewer commented on #34
Pushed a few fixes for IE8. IE7 and below still need some work but a new theme is planned to account for these.

[2012-03-11 12:09] #34 closed, assigned to jackbrewer

[2012-03-28 20:14] serby opened #46 "Cluster doesn't work"

[2012-03-28 20:15] serby opened #47 "Generic Delete is a GET and is a minor security concern"

[2012-04-02 13:16] robnoake opened #48 "Feature Request: Cookie options"
There should be a mechanism to set cookie options for express from inside properties.js

The most common use case for this will be to set the cookie's domain in the event the app needs to respond to requests on multiple subdomains.

[2012-04-02 13:38] serby commented on #48
That should be possible in expressApplication when defining the session mechanism

[2012-04-04 13:42] #38 closed, assigned to nobody

[2012-04-18 12:00] serby commented on #46
This is now fixed

[2012-04-18 12:00] #46 closed, assigned to nobody

[2012-04-19 20:43] serby commented on #40
I need this fixed for the Joyent project. Can you submit a pull request when you get a change and I'll port it over to the Joyent project.

Many thanks

[2012-04-19 22:50] jackbrewer commented on #40
I've submitted a pull request to fix this

[2012-04-20 09:21] serby commented on #40
Thanks

[2012-04-20 09:21] #40 closed, assigned to jackbrewer

[2012-05-04 11:52] serby opened #55 "You need to restart app when ACL change"

[2012-05-04 15:56] bengourley commented on #25
This is fixed.

[2012-05-04 16:05] bengourley opened #57 "Article Bundle: Route is greedy"
The route in the article bundle is really vague:

[code]

This means that any bundles added after it can't have routes in the form `/foo/bar`.

e.g:

[code]

My 'pageAdmin' bundle wants `/admin/page`, but this won't be reached because the article bundle preceded it (and takes precedence).

It's easy to resolve–just change the order, but could this be a problem further down the line? Is there a bet

[2012-05-04 16:14] serby commented on #57
I've been managing it by putting it as the last bundle to load. I'm not sure there is any other solution other than prefixing the URL path, which I don't really want to do.

[2012-05-04 16:17] bengourley commented on #57
Yep, no good to have to change the url. I guess this is one of the issues of using Express, though I don't know how other frameworks handle routing precedence.

[2012-05-10 08:46] serby opened #60 "Delete item in generic doesn't return you to the page you where on before you deleted"

[2012-05-15 12:47] ArnIIe opened #63 "Feature Request: Default Settings and Remembered Filters"
I believe Control should allow modules to have default ordering and have the ability to remember (per admin) their chosen ordering settings.

e.g. On adoption programme CMS you have to click date created table heading twice each time you navigate to new users. Like Atrox CMS it  would be good to store admin preferences.

[2012-05-22 13:18] bengourley opened #64 "Can't put stylus files in bundles' public route"
The Stylus middleware can't deal with multiple paths, nor when the requested url doesn't match the file's path.

We could farm out most of the stuff from `stylus.middleware` and make our own middleware.

Thoughts?

[2012-05-22 13:19] bengourley commented on #64
As it stands we can put all public resources within a bundle, but not CSS. That has to live in `/public/`.

[2012-05-22 15:27] serby commented on #64
It is the current intention that the CSS ie theming of an application is not contained in a bundle. This is probably why we've not noticed this before. If we wanted to have /themes/{default,fancy,modern} with all the CSS and theme imagery in that should still work right?

[2012-05-22 15:38] bengourley commented on #64
This is less to do with theming and more to do with structuring the css. A control instance that has 3/50 available modules on will have 47 extra styles going on in the `/public/css` directory. I think it just makes sense to modularise the CSS like we can with the JS and images etc.

[2012-05-22 15:42] serby commented on #64
I'm not sure. We've been around this a few times with Jack and I thought
that we had decided not to go with that approach. Let's have a 3 way call
with Jack once he is back to confirm a way forward.

Regardless of the outcome, your issue still needs addressing.

On 22 May 2012 16:38, Ben Gourley <
reply@reply.github.com

##

paul.serby@clock.co.uk
Chief Technology Officer

_Direct: +44 2030 516115

[2012-05-22 15:46] bengourley commented on #64
Ok. I've knocked up a piece of middleware that does the job but I'll show you tomorrow.

[2012-05-25 13:23] robnoake opened #66 "MongoDbCrudDelegate does not verify updates have succeeded"
The update function implies that no error equals success and reports that back to the caller and the logger. It is possible that the returnedEntity will be null on callback, which means no document was found for update. If this occurs the update function should return an error stating the requested document was not found.

I will send across a pull request shortly.

[2012-05-25 19:58] serby commented on #66
Nice work, thanks for fixing. See #67

[2012-05-25 19:58] #66 closed, assigned to nobody

[2012-05-30 07:42] domdoescode opened #68 "Provide docs in project structure, as opposed to just github wiki"
Feature request for docs in project structure for offline reference when developing.

[2012-05-30 08:17] serby commented on #68
That is a good idea.

[2012-05-30 08:18] serby commented on #68
It will be good it a single source can build both sets

[2012-05-30 08:34] domdoescode commented on #68
https://github.com/blog/699-making-github-more-open-git-backed-wikis - "Each wiki is a Git repository" - Would that help?

[2012-05-30 09:37] domdoescode opened #69 "404 on bundle index when using generic bundle"
To replicate on Unix/Mac:

[code]

Add `vegetable` to server.js, then start control with `node app`

[Index page](http://localhost:3021/admin/vegetable) returns 404, however all other routes are rendered correctly (going through the process of creation via the [new vegetable page](http://localhost:3021/admin/vegetable/new)).

Tried debugging route defined in [genericAdminRoutes.js](https://github.

[2012-05-30 14:47] serby commented on #68
That is already setup.

git@github.com:serby/control.wiki.git

On 30 May 2012 09:34, Dom Udall <
reply@reply.github.com

##

paul.serby@clock.co.uk
Chief Technology Officer

_Direct: +44 2030 516115__Mobile: +44 7881 550999_
*

## *
- http://www.clock.co.uk/
  *
  *
  *
  The Old School HouseBridge Road, Hunton Bridge,Kings Langley, WD4 8RQ
  Switchboard: +44 1923 261166www.clock.co.uk
  *
  *
- h

[2012-05-30 14:50] domdoescode commented on #68
I mean, setting up either a submodule or exporting it as part of a build/post-commit system to export it to a 'docs' folder?

[2012-05-31 08:39] serby commented on #69
This is because the article bundle has a catch-all URL that is matching admin/vegetable if you put vegetable before article in server.js it will work.

[2012-05-31 08:39] #69 closed, assigned to nobody

[2012-05-31 08:42] serby opened #70 "More form styles are needed to set the size of textareas"
Sometimes you need to say that a textarea is: shortest, short, tall, tallest or smallest, small, big, bigest. I have been added these styles on projects that need them, but it would be good to have a more considered set of modifiers in control.

[2012-05-31 08:45] serby opened #71 "The admin form width can be restrictive"
It would be nice if you could collapse the admin sidebar and make the form area wider when editing body content.

Have a look at the /admin/article/new on the clock site and you'll see I've has to limit the number of options on the rich-text toolbar to allow it to fix.

[2012-05-31 08:49] domdoescode commented on #69
Ace, thanks. Updated [Creating a Bundle](https://github.com/serby/control/wiki/Creating-a-Bundle) wiki to reflect this.

Is there a particular reason for the article catch-all?

[2012-05-31 08:55] serby commented on #69
It is a functional requirement of the bundle.

So you can do this:

http://clock.co.uk/tech-blogs/upstart-and-nodejs

and manage the section and the article slug from the CMS.

On 31 May 2012 09:49, Dom Udall <
reply@reply.github.com

##

paul.serby@clock.co.uk
Chief Technology Officer

_Direct: +44 2030 516115__Mobile: +44 7881 550999_
*

## *
- http://www.clock.co.uk/
  *
  *
  *
  The Old Schoo

[2012-05-31 09:08] domdoescode commented on #69
Couldn't the admin location be excluded from the catch-all to resolve this? Setting a section with the same URL as the admin section would cause issues as is.

[2012-05-31 09:11] serby commented on #69
The problem is that express handles the routing and that makes it hard to
be creative in that layer. In a future version of control I would like to
take express out. making this sort of thing easier.

For now the it is less complicated to manually mange the order the bundles
are included in.

On 31 May 2012 10:08, Dom Udall <
reply@reply.github.com

##

paul.serby@clock.co.uk
Chief Technology Offi

[2012-05-31 09:15] serby commented on #69
More on this here #57

[2012-05-31 13:05] serby commented on #60
When deleting you are now take back to the list page

[2012-05-31 13:05] #60 closed, assigned to microadam

[2012-06-06 08:30] IamSmith opened #74 "Article Preview Functionality"
Is it possible to add functionality to preview an article without needing to set it live.

[2012-06-07 09:22] IamSmith opened #75 "Bring the article editor from Clock.co.uk into Control"

[2012-06-07 09:23] serby opened #76 "Better password hashing"
Password checking in the authentication module should use this method.

http://throwingfire.com/storing-passwords-securely/?utm_source=feedburner&utm_medium=feed&utm_campaign=Feed%3A+throwingfire+%28Throwing+Fire%29#notpasswordhashes

[2012-06-07 09:24] serby commented on #76
Luke Wilde started to refactor the access control out to its own bundle. It would be worth speaking to him and seeing how far he got. Possible someone could take over from him.

[2012-06-07 09:26] serby opened #77 "Convert code base to comma first"
As per: https://gist.github.com/357981

[2012-06-07 09:47] #25 closed, assigned to nobody

[2012-06-07 09:52] serby commented on #74
If the URL has a hash on the end then it should be viewable despite not being live or within date. You should be able to revoke a preview URL so that a new hash is created and the previous URL stops working.

[2012-06-07 09:53] domharrington opened #78 "Tabs need to be converted to spaces."
Quite a few files still have tabs instead of spaces. Would be good to fix this for consistency.

[2012-06-07 09:54] serby commented on #74
Ultimately I would like to see a live preview using websockets so as your edit the document and before you save you can see what the document looks like. This would be different from the preview URL discussed above.

[2012-06-07 10:10] serby commented on #78
I agree. I little script could be run to convert everything.

[2012-06-07 10:53] serby commented on #78
Fixed in c4398d718d2a5bd7854c29693d07ae38c32fafe5

[2012-06-07 10:53] #78 closed, assigned to nobody

[2012-06-07 11:37] domharrington commented on #78
This seems to have converted some files to 8 spaces e.g. https://github.com/serby/control/blob/master/bundles/admin/views/adminBar.jade

[2012-06-07 11:46] domdoescode opened #79 "If field is required but not shown on update, validation fails when updating"
For example (not realistic mind):

Car:
- Make (Required, shown on create and update)
- Model (Not required, shown on create and update)
- Registration (Required, shown on create, not on update)

Upon creation of a car, everything is fine. When editing the car, the 'Registration' field does not show, however when saving changes, control states that 'Registration is required', although it already e

[2012-06-07 12:10] serby commented on #78
Yeah I just spotted this. It's a bugger to fix now. I'm going to have to revert to the tab version and reconvert

[2012-06-07 12:27] serby commented on #78
I had to do a --force to sort this. I'm not proud of myself. Everyone needs
to repull.

On 7 June 2012 12:37, domharrington <
reply@reply.github.com

##

paul.serby@clock.co.uk
Chief Technology Officer

_Direct: +44 2030 516115__Mobile: +44 7881 550999_
*

## *
- http://www.clock.co.uk/
  *
  *
  *
  The Old School HouseBridge Road, Hunton Bridge,Kings Langley, WD4 8RQ
  Switchboard: +44 1923 2611

[2012-06-07 12:35] serby commented on #78
Now fixed in 6fa79a6b5c5d6c2c741e6bdd4a52f0cb60866f8d

[2012-06-07 12:43] serby opened #80 "Properties that are required in the schema but on a generic update form causes errors."

[2012-06-07 13:08] #79 closed, assigned to nobody

[2012-06-07 13:08] domdoescode commented on #80
Duplicate of [Issue #79](https://github.com/serby/control/issues/79), have closed original, but use for further explanation.

[2012-06-09 13:48] jacques opened #81 "Supporting other databases"
Would it be possible to support databases like MySQL or Postgresql?

[2012-06-09 22:11] serby commented on #81
Yes, we are hoping to have it much less tided to any specific database implementation, but have some work to do to abstract the data-layer for the standard bundles.

As it stands you can any add as many different types of database connections to the service locator and create bundles that use those databases. The core of control doesn't use mongo, it is only express sessions and the bundles that a

[2012-06-14 12:22] domdoescode commented on #81
+1 for this.

We're currently using mongoose within certain bundles for entity schemas and model definition from an older project, however a unified abstraction layer would be amazing.

[2012-06-25 16:08] serby commented on #77
@oliverjohnstone Has this been completed now? If not can you reference #77 in all your future commits and let me know when it is complete.

[2012-06-25 16:28] oliverjohnstone commented on #77
Yes I believe so, all the files that I believe are part of the project should now be converted.

----- Reply message -----
From: "Paul Serby" reply@reply.github.com
To: "Oliver Johnstone" oliver@ojs.co
Subject: [control] Convert code base to comma first (#77)
Date: Mon, Jun 25, 2012 5:08 pm

@oliverjohnstone Has this been completed now? If not can you reference #77 in all your future commits and l

[2012-06-25 16:50] #77 closed, assigned to nobody

[2012-06-25 17:25] bengourley opened #88 "Make bundle initialization properly async"

[2012-06-25 21:58] #88 closed, assigned to nobody

[2012-06-25 21:58] serby commented on #75
@bengourley Can this be closed now?

[2012-06-25 21:59] serby commented on #30
This is well out of date

[2012-06-25 21:59] #30 closed, assigned to nobody

[2012-06-25 22:05] bengourley commented on #75
Yes

[2012-06-25 22:06] #75 closed, assigned to nobody

[2012-06-26 15:28] serby opened #89 "Pagination should an npm module"
@domharrington Can you make pagination.js a npm module and refactor control to use it.

[2012-06-26 16:08] serby commented on #55
Fixed in aeae1616

[2012-06-26 16:08] #55 closed, assigned to nobody

[2012-06-27 08:41] domharrington commented on #89
Sure, will look into doing it in the next few days.

[2012-07-20 16:52] panfantastic opened #92 "Forgotten password journey missing"
Control needs a basic forgotten password journey for the admin.

[2012-07-23 18:25] domdoescode opened #93 "Asset delete does not work correctly"
Currently appearing with a dialog box with [Object object] in, clicking either option closes the dialog without any change.

http://awesomescreenshot.com/045b8sy4d

[2012-07-23 18:52] #93 closed, assigned to nobody

[2012-07-23 18:53] domdoescode commented on #93
Seems to be working fine after a few force refreshes and re-downloading control, sorry!

[2012-07-23 19:15] bengourley commented on #93
Clear your cache and try again

Ben Gourley
[Sent from my phone]

On 23 Jul 2012, at 19:25, Dom Udallreply@reply.github.com wrote:

[2012-07-24 14:19] bengourley commented on #93
Ah you posted again before I responded! Glad it sorted itself out. I trust the stylesheet updated too and it looks different to your screenshot?

[2012-07-24 14:20] domdoescode commented on #93
Looks much prettier now, yes =) I was a little miffed but thought it might be uncommitted code. Cheers for the help anyway!

[2012-07-24 14:58] bengourley commented on #93
No probs. Luckily you had ImageMagick on your machine. Need to find somewhere to list that dependency.

[2012-07-24 15:25] domdoescode commented on #93
I didn't actually, but I managed to google my way out of that one. Definitely worth stating as an issue, or a dependency for that bundle in the README

[2012-07-24 15:27] bengourley commented on #93
Yeah, I think we're going to lift out pretty much all of the bundles from control core, leaving maybe admin and administrators so that it's completely decoupled. Then each bundle can have its own repo and so its readme will be more visible.

[2012-07-24 15:29] domdoescode commented on #93
Ace =) I'm freed up a bit after this week, so I'm going to get back onto the control console. Working on legacy PHP stuff is making me feel a bit sick nowadays.

[2012-07-25 08:56] serby opened #95 "0.8 Compatibility"
Control needs to be upgraded to node 0.8 but connect currently only works in 0.6.

Discuss

@domharrington @bengourley @aduncan88

[2012-07-25 08:57] bengourley commented on #95
Are all dependencies 0.8 compatible?

[2012-07-25 08:58] serby commented on #95
No. but connect is the show stopper.

[2012-07-25 09:01] bengourley commented on #95
Then the only way to go to 0.8 is to use something else, or wait...

[2012-07-25 09:34] microadam commented on #95
yeah sounds like the only logical solution. Seeing as express is heavily coupled with connect and we use express currently, we either replace express or wait. I would have thought replacing express would be a pain

[2012-07-25 09:48] evlun commented on #31
Suggested fix here: https://github.com/serby/control/pull/96

[2012-07-25 10:35] evlun commented on #32
Fix here: https://github.com/serby/control/pull/96

[2012-07-25 10:56] evlun commented on #95
Control and its bundles rely on Express/Connect for everything from middleware to session handling to view rendering to `res.redirect` and `next(new Error())`. I don't think it would be feasible to replace Express any time soon.

What is it that actually doesn't work in Connect on 0.8?

[2012-07-25 11:05] bengourley commented on #95
Hold on… what makes connect not work on 0.8? I just did…

`nvm use 0.8`
`git clone git://github.com/senchalabs/connect.git`
`cd connect`
`npm install`
`make test`

[code]

[2012-07-25 11:07] bengourley commented on #95
Also, re Erik: there is a flatiron component which is compatible with connect style middleware.

[2012-07-25 11:16] bengourley opened #97 "Remove all non-essential bundles from core"
I think we should remove all but the 'Admin' and 'Administrator' bundles. All other bundles that we maintain should be optional and live in their own repos.

Bundles should then be installed with https://github.com/serby/control-cli or until that is ready, `git clone bundle-repo`

Discuss?

[2012-07-25 11:17] bengourley commented on #97
cc/ @serby @aduncan88 @domharrington @mjor @tomgco

[2012-07-25 11:51] tomgco commented on #97
I agree, maybe have an example bundle included as well so that someone has a reference to a bundle that is not core to control?

[2012-07-25 11:54] bengourley commented on #97
Well 'Administrator' is a good example of a simple bundle that makes us of generic. I think the documentation/tutorial should take care of showing any further examples.

[2012-07-25 12:07] microadam commented on #97
Surely we need to keep Roles?

[2012-07-25 12:36] evlun commented on #97
Definitely a sentiment I can get behind. That being said...

**administrator** relies on **generic** to create its views.

**generic** in turn uses **admin** to check if an user is allowed access to a particular view/action (this also means that **generic**, in its current state, only can be used for building admin interface components, which to me suggests that it really should be part of the **a

[2012-07-25 12:42] evlun commented on #95
@bengourley In that case it might be worth looking into flatiron.

[2012-07-25 12:44] bengourley commented on #97
Yep, sorry missed that one. On the face of it, that coupled-ness suggests they should stay as they are rather essential to a 'CMS'.

It's ok to have dependencies between bundles. There is a distinction to be made between coupling and dependencies.

[2012-07-25 13:13] evlun commented on #97
Inter-bundle dependencies aren't necessarily bad, but when you can't use any of those four bundles independently it might be an idea to combine them; especially as they're all vital for any kind of CMS functionality.

[2012-07-25 13:18] microadam commented on #97
I think Erik makes a very good point.

I think we need to have a "basicAdmin" bundle (name TBC). Which wraps roles, rolesAdmin, admin, administrator and generic into a single bundle. If they all depend on each other and cannot work separately then I don't see the harm in it

[2012-07-25 13:24] evlun commented on #92
@serby Can we assume that every machine running a Control instance has the capability to send e-mails? Perhaps this is something that should be defined in `properties.json`.

[2012-07-25 13:25] bengourley commented on #97
Sounds logical. Also, generic is something that has been shoehorned into a bundle, but it's more like an npm module. The only reason it is a bundle and not an npm module is that it contains views which should remain editable. Bears thinking about.

[2012-07-25 13:26] evlun commented on #2
I couldn't reproduce this bug, so it must've been fixed since this issue was created.

@robnoake I suggest you close this issue.

[2012-07-25 13:31] bengourley commented on #95
Only if we have to. It looks like connect v0.8 compatibility was a red herring.

Also, I just ran control on v0.8 and it works, we just get a few `path.exists is now called fs.exists` messages

[2012-07-25 13:40] evlun commented on #48
@robnoake Can this issue be closed?

[2012-07-25 15:26] domdoescode opened #98 "Upload system duplicates pre-uploaded files"
Using the asset manager with the same files produces duplicates in the data directory. More of a feature request, feel free to shoot me down if you don't feel it's necessary.

[2012-07-25 15:30] bengourley commented on #98
What do you mean? You uploaded the same file twice?

[2012-07-25 15:35] domdoescode commented on #98
Uploading the same file more than once appears in the asset list, which I feel is correct behaviour (for different titles or descriptions of the same thing, if you want it), however the actual file itself is uploaded twice as well, which could cause storage overhead if somebody uploads, say, a large video twice.

Here's a little screenr to explain a bit better - http://www.screenr.com/3FL8

[2012-07-25 15:40] domdoescode commented on #98
Issue might be better placed in @domharrington's fileupload module, however I'm not 100% on the Control upload internals

[2012-07-25 15:41] bengourley commented on #98
Cool. I get what you mean. This change would need to be in @domharrington 's fileupload middleware, as that's the thing that deals with the storage mechanism. Can't rely on the filename though, would need to inspect the bytes and compare with every existing file. Also what if (for some reason) you do actually want a duplicate file?

[2012-07-25 15:49] domdoescode commented on #98
Fair point, couldn't think of a legit business model where you'd want a duplicate.. However some kind of option within the upload module could easily allow for that. I'll raise it with @domharrington, cheers =)

[2012-07-25 16:40] serby commented on #97
Coupling and Dependency equate to the same thing.

Those four bundles have a complex circular dependency map as Erik has
shown. I worked hard to sperate them further but the required abstraction
was bloated. I'm happy with the current level of coupling between them.

Ideally there would be a control-core which has no bundles, properties.js,
server.js, app.js, expressApplication.js

Then control-ba

[2012-07-25 17:12] #98 closed, assigned to nobody

[2012-07-25 17:25] serby commented on #98
We have employed a apprach in the past. We MD5 a file and if it already exists just point to that file. @domharrington should do this in his middleware if he isn't already. You have to be careful when you delete a file that there are no other items linked to it.

[2012-07-26 14:10] domdoescode commented on #98
Is the asset management in the Control bundle style similar to that of Atrox, in terms of using a collection to store data about the binary file and it's location? If so I'm assuming the logic for whether a file is to be removed or not lies within the bundle, rather than the middleware?

[2012-07-27 10:41] evlun commented on #76
This was implemented through https://github.com/serby/control/pull/99.

[2012-07-27 18:01] #76 closed, assigned to nobody

[2012-07-27 18:03] serby commented on #92
SMTP host and port will be defined in the properties.js look at a Sun Perks from an example

[2012-07-30 08:48] domharrington commented on #98
Just fixed all my tests for node 0.8 and express 3.0 and I pulled @domudall's change in with that.

[2012-08-02 13:15] #32 closed, assigned to nobody

[2012-08-02 13:15] #31 closed, assigned to nobody

[2012-08-02 14:12] #2 closed, assigned to nobody

[2012-08-02 19:35] domdoescode commented on #97
Definite +1 on all this.

[2012-08-02 20:29] domdoescode commented on #97
Also related, probably discussed within Clock, bundle-specific style-sheets are also contained within the main project's public folder (asset manager for example).

[2012-08-10 12:28] serby commented on #19
Closed by #101

[2012-08-10 12:28] #19 closed, assigned to nobody

[2012-08-14 13:43] serby opened #104 "Mongo Connect .open needs a timeout"
Without a timeout the node app will hang indefinitely if the DB is not available on connection.

[2012-08-14 16:37] #104 closed, assigned to evlun

[2012-08-23 10:48] domdoescode commented on #92
Is control going to support different transport methods than SMTP in future?

[2012-08-23 11:55] serby commented on #92
Like what, sendmail?

[2012-08-23 11:56] domdoescode commented on #92
sendmail, Gmail, Amazon SES

[2012-08-23 13:26] serby commented on #92
No I'm not going to have options for those in the properties.js If you need anything other than SMTP you can simply configure the mailer in the service locator in you own instances app.js

[2012-08-23 22:48] bengourley opened #106 "Password reset journey crash"
Just went to have a look at the password reset journey, got this:

[code]

[2012-08-28 11:32] tomgco opened #107 "Deleting a record in the admin cause pagination to reset"
When deleting a record in the cms, if the user is on page 3 and deletes a record the pagination resets back to the first record.

[2012-08-29 08:02] tomgco commented on #107
@aduncan88 mentioned to me that he has fixed this before, however is not aware if it has been merged upstream.

[2012-08-29 08:24] serby commented on #107
@aduncan88 Can you send a pull request for ctrl?

[2012-08-29 08:39] microadam commented on #107
Yep. It was a one line change as far as I remember. Just need to find which control project I fixed it in.

[2012-09-01 13:51] tomgco commented on #106
This has now been fixed and merged into master and can be closed.

[2012-09-02 09:25] #106 closed, assigned to nobody

[2012-09-08 15:48] tomgco commented on #95
v0.8.8 works like a dream, still get the following warning though.

[code]

[2012-09-13 16:59] #92 closed, assigned to nobody

[2012-09-13 17:00] serby commented on #89
I've put this along with generic in 0.1

[2012-09-13 17:00] #89 closed, assigned to nobody

[2012-09-13 17:00] serby commented on #107
@aduncan88 can you put this in 0.1 please

[2012-09-13 17:01] serby commented on #97
There is a post on this here: https://groups.google.com/forum/?fromgroups=#!topic/ctrl-cms/VY9Kd02xkYE

I'm going to close as an issue

[2012-09-13 17:01] #97 closed, assigned to nobody

[2012-09-13 17:02] serby opened #115 "upgrade to express 3"
I'll be doing this in the next 2 days, so let me know if you pick this up.

[2012-09-20 22:20] bengourley opened #116 "Admin first run user journey: hangs, crashes"
Fresh checkout of 0.1 branch:
- `git checkout 0.1`
- `rm -rf node_modules`
- `npm install`

Delete db:
- `mongo`
- `> use ctrl-development`
- `>`db.dropDatabase()`

http://localhost:3021/admin

Fill in details, hit enter... hangs, then crashed with no error message

[2012-09-24 14:35] serby commented on #116
Here is the one-liner to drop db

[code]

[2012-09-24 15:17] bengourley commented on #116
Issue was to do with bcrypt. `npm rebuild` fixed the issue on node 0.8.9.

[2012-09-24 15:17] #116 closed, assigned to nobody

[2012-09-25 10:26] serby commented on #95
This is fixed in the 0.1 branch

[2012-09-25 10:27] #95 closed, assigned to nobody

[2012-09-25 10:27] serby commented on #64
This is fixed in the 0.1 branch

[2012-09-25 10:27] #64 closed, assigned to nobody

[2012-09-25 10:28] serby commented on #115
this is done in the 0.1 branch

[2012-09-25 10:28] #115 closed, assigned to nobody

[2012-09-26 10:12] bengourley commented on #74
I have just implemented this on an old control project with the following algorithm:

[code]

My logic is:
- no extra field in the database
- previewKey cannot be calculated unless the article content is known

However, there is no way to revoke the key, except by editing the article content. Thoughts?

[2012-09-26 13:19] serby commented on #74
That is fine for now.

On 26 September 2012 11:12, Ben Gourley notifications@github.com wrote:

##

paul.serby@clock.co.uk
Chief Technology Officer

_Direct: +44 2030 516115__Mobile: +44 7881 550999_
*

## *
- http://www.clock.co.uk/
  *
  *
  *
  The Old School HouseBridge Road, Hunton Bridge,Kings Langley, WD4 8RQ
  Switchboard: +44 1923 261166www.clock.co.uk
  *
  *
- http://twitter.com/clock

[2012-09-30 09:10] ghost commented on #81
would be great if it could just use the file system for super easy deployment. I knwo this is not as fast as a database, but is enough for many possible use cases.

[2012-10-01 22:10] serby commented on #81
@gedw99 In the 0.1 branch I've abstracted the data persistance layer so any storage type could be used.

https://github.com/serby/ctrl/tree/0.1

There is already a in memory store, but if you wanted a disk based storage you only need to right an engine for

https://github.com/serby/save

as per

https://github.com/serby/save-mongodb

using

https://github.com/serby/save/blob/master/lib/memory-engi

[2012-10-13 21:03] serby opened #122 "Add fancybox back to project"
Broken here: http://localhost:3021/admin/ui

[2012-10-13 21:22] serby opened #123 "Add fancybox back to project"
Broken here: http://localhost:3021/admin/ui

[2012-10-13 23:42] serby opened #124 "make lint not passing"
Creating a better lint target, has shown up lots of areas where there are lint problems. These need fixing.

run the following from the project root to see the errors to fix

[code]

[2012-10-14 08:34] serby commented on #123
dup #122

[2012-10-14 08:34] #123 closed, assigned to nobody

[2012-10-14 08:37] serby commented on #70
Also we need to be able to have a textarea that takes the full width of a form. It would be good if this was the default when a textarea is not in a .form-row.

/cc @bengourley

[2012-10-14 08:39] serby commented on #70
Article body is an example of a place we need this: http://localhost:3021/admin/article/new

[2012-10-14 08:44] jackbrewer commented on #70
I'm currently rewriting some standard form element markup and styling in a private repo (@serby you have access) which will be open-sourced after a bit more work.

I'll be sure to take this into account, then the ctrl forms will likely be refactored to use the new structure. Is this issue something which can wait a while, or would you like a temporary fix for now?

[2012-10-14 09:17] bengourley commented on #70
How do you get a not full width one currently?

Sent from my iPhone

On 14 Oct 2012, at 09:39, Paul Serby notifications@github.com wrote:

[2012-10-14 10:55] serby commented on #70
It can wait for now, I know you are busy.

I've put in place a temporary fix in my last commit 2dc3bfb8fa928da1d70d4abf1177bda70b2a8abe

[2012-10-14 10:56] serby commented on #70
@bengourley See the article create page now for an example of what I was after.

[2012-10-14 20:07] bengourley commented on #70
Sure, but there is currently no 'textarea' property type in the view schema. There should be. The custom article admin form is very WET.

[2012-10-14 21:44] serby commented on #70
There is a textbox in the generic form on line 51 of form.jade

I don't have a massive problem with some duplication in view templates. The
alternative is to add complexity to the generic logic to handle more
concevable UI possibility which would be worst than a bit of copy and paste
in the view layer.

On 14 October 2012 21:07, Ben Gourley notifications@github.com wrote:

##

paul.serby@clock.co.

[2012-10-15 11:17] bengourley commented on #70
Ah I couldn't find that before. Thanks.

I think we should have the most common form controls in generic, though. It can be really powerful to have them, and as we've experienced, developers like to use them as they are a quick win.

[2012-10-15 12:47] bengourley opened #125 "Generic Update Route gets object id from form field, not url param"
An issue I found when I didn't realise the _id field was required on a generic view schema was that the update route didn't know what the object's id was. I found this a bit weird, because the id is in the url:

[code]

Is it better to take the id from a hidden form field and not the url?

[2012-10-15 13:56] bengourley commented on #57
This is now fixed. Article bundles calls `next()` rather than 404ing itself.

[2012-10-15 13:56] #57 closed, assigned to nobody

[2012-10-15 13:59] bengourley commented on #48
Also need to set session secret.

[2012-10-15 14:01] bengourley commented on #47
What is the reason it's not a DELETE?

[2012-10-16 00:41] serby commented on #70
Agreed. Maybe there needs to be a class that makes them full width.

On 15 October 2012 12:17, Ben Gourley notifications@github.com wrote:

##

paul.serby@clock.co.uk
Chief Technology Officer

_Direct: +44 2030 516115__Mobile: +44 7881 550999_
*

## *
- http://www.clock.co.uk/
  *
  *
  *
  The Old School HouseBridge Road, Hunton Bridge,Kings Langley, WD4 8RQ
  Switchboard: +44 1923 261166www.cloc

[2012-10-16 00:43] serby commented on #47
Because it is a link. We'd need to make it Ajax and implement a service to make it a DELETE. Defiantly doable

[2012-10-16 08:29] bengourley commented on #47
Or the place with the link could be a form with method override? (Bit hacky, but simplifies the client)

[2012-10-16 08:41] evlun commented on #47
@bengourley I don't think that's an option. If I recall correctly, only GET and POST methods are possible through HTML forms.

[2012-10-16 08:42] bengourley commented on #47
http://www.senchalabs.org/connect/middleware-methodOverride.html

[2012-10-16 08:52] evlun commented on #47
Cool!

[2012-10-16 14:25] serby commented on #47
The security risk that Noake was pointing out is one of CSRF
http://en.wikipedia.org/wiki/Cross-site_request_forgery

Currently if you can get your user ID I can create an image element like
this:

<img src="
http://localhost:3021/admin/administrator/507a910677ce00ed21000002/delete">

Put that on a remote page, get an authed ctrl admin to view the page, and
boom! No more administrator!

This would

[2012-10-16 15:13] serby commented on #125
I think I fixed this on the plan. I'll be pushing shortly.

[2012-10-18 15:30] bengourley opened #129 "Should requests be logged in non dev environments?"
The express logger might contain some useful debugging info. Currently we only log requests in development.

[2012-10-18 15:33] bengourley opened #130 "Stylus is defined in web-stack.js"
Is `web-stack.js` the right place do define stylusWatch and stylusCompile now that it's got nothing to do with HTTP?

[2012-10-18 21:48] serby commented on #129
Yes. I took it out before. Happy to have it back if it well considered.

[2012-10-18 22:16] bengourley commented on #129
Could be handy, but on the other hand it would create a lot of noise if you're looking for something else in the log file (plus the issue of storage amount and potential latency writing to a large file)

[2012-11-13 11:07] bengourley commented on #125
@serby is this fixed?

[2012-11-13 12:12] domharrington commented on #47
Does this look okay? Just spoken to Jack who is gunna take a look at styling when he gets a chance.

[2012-11-13 12:26] bengourley commented on #47
2 things:
- Can you update the selector here: https://github.com/serby/ctrl/blob/master/bundles/admin/public/js/admin.js#L186 so that you get a confirm dialog when you hit that delete button.
- I still get delete link on hover:

![error](http://f.cl.ly/items/1e180A1m0T463J2B1y0H/Screen%20Shot%202012-11-13%20at%2012.23.06.png)

[2012-11-13 13:01] domharrington commented on #47
Removed the delete link from the list, I accidentally left it there for debugging. I didn't put the issue number in the commit, will it still get merged?

[2012-11-13 13:24] domharrington commented on #124
Just been speaking to @bengourley about this. The only error that comes up for me is:

[code]

The line in question:

[code]

This is required for Express error-handling middleware http://expressjs.com/guide.html#error-handling even though we don't use the `next` parameter. Any suggestions for how we can get around this problem?

[2012-11-13 13:49] domharrington commented on #124
This problem can be avoided by adding the following line to the top of http-error-handler.js:

[code]

Seems a bit hacky and could potentially mean we miss other linting problems from this file.

[2012-11-13 15:05] #47 closed, assigned to nobody

[2012-11-13 17:28] serby commented on #70
@jackbrewer Does #131 address this?

[2012-11-13 17:28] serby commented on #125
You tell me.

[2012-11-13 17:29] serby commented on #130
This will be fixed with the introduction of the build step

[2012-11-13 17:29] serby commented on #124
We had this debate in the last tech meeting. I think that is the best option we have.

[2012-11-13 17:31] jackbrewer commented on #70
Yes, if you are happy with passing the textarea mixin a 'rows' attribute rather than passing a class - I've implemented this.

It's more flexible as you can have bespoke heights per textarea and don't need to remember a group of class names

[2012-11-13 17:35] jackbrewer commented on #70
And there is now a class of .form-row-full-width to make form elements drop below their labels and span the full width of the form.

Currently this has only been tested with textareas, which is really the only place it's needed for now. A full suite of full-width form elements is in the works but enough work has been done to close this issue.

[2012-11-13 17:41] serby commented on #107
@microadam is this done?

[2012-11-13 17:42] serby commented on #70
What about classes for height?

[2012-11-13 17:54] jackbrewer commented on #70
That's what the optional 'rows' attribute is doing that I mentioned before.

For a height of 25 lines of text:
mixin textboxFieldForObject( { ... }, { ... label: 'Article Content', rows: 25 ... })

This also means the textarea height is always a multiple of the line-height, so text on the last line shouldn't get cut off.

We can do classes if you like, but this gives more flexibility and means les

[2012-11-14 11:44] bengourley opened #134 "Do we really need _ or lodash?"
Project wide search for `_.` returns 17 matches.
- 16 of them are `_.extend()`
- 1 of them is `_.pluck()`

I think it would be better to use an extend module (it probably exists, if not we can create it):

[code]

We could do the same for pluck, though as it's only used in on place it might make sense to just do an array map (which is what _.pluck does anyway). From the _ source:

[code]

_ makes

[2012-11-14 12:17] bengourley commented on #134
This is a (related) good read: https://plus.google.com/u/1/114198465647271367011/posts/AowKp99k496

[2012-11-14 12:51] bengourley opened #136 "Rename serviceLocator to services"
`serviceLocator` is a bit verbose.

I think it'd be sensible to introduce the convention of calling it `services` (convention, rather than renaming the module, because it's up to the functions that accept it to give it a name) eg:

[code]

Thoughts?

[2012-11-14 21:04] serby commented on #134
Not sure there is any real justification in that post. I am totally bought into the substack pattern and will always code my modules in that way. But I'm not fussed about refactoring out underscore because I trust underscore/lodash from a author, maintance,  performance and major bug perspective. I don't want to do the duediligance on every module replacement for every function I use in underscore

[2012-11-14 22:29] evlun commented on #134
+1

If we're willing to drop support for v0.6, we really should adopt `util._extend()` instead.

https://github.com/joyent/node/blob/master/lib/util.js#L563-573

[2012-11-14 22:36] serby commented on #134
Many of the dependent modules that i control have already had that change
if they only use _.extend. But it isn't in the node spec so i'm not sure it
is a very wise move to use util._extend, I'm planing to replace in the
future with a more robust fix.

Sent from a telephone

On 14 Nov 2012, at 22:29, Erik Lundin notifications@github.com wrote:

+1

If we're willing to drop support for v0.6, we rea

[2012-11-14 23:18] bengourley commented on #134
The justification is that we are depending a module that is 4279 lines of code (1MB npm package), of which we are using 11 lines (0.002%).

I completely agree with that notion, but I don't think it applies to this instance. No abstraction is happening. In fact less abstraction is happening. You require() a function that you intend to use, rather than a grab-bag (object) containing functions that y

[2012-11-15 09:14] serby commented on #134
So the justification is for purism sake not any actual real world problem
that we are facing. Which was my point.

I in fact created a package to do just extend right from the start, see
piton-mixin. All it did was mean I had more work to do on each node
release, not because the code itself went out of date but because, expresso
became deprecated in favour of mocha, times that by the number of fun

[2012-11-15 10:38] lukewilde commented on #134
Perhaps naively, I think controls biggest problem is currently that it isn't finished. If lodash is offering a means to speed up development my vote is to leave it in, for now. In the long run, I can see how it may be underutilised in the core and personally like the idea of removing it. I would suggest finishing the core and then look at refactoring it out after release.

[2012-11-15 10:51] tomgco commented on #134
At this moment in time I am agreeing with @lukewilde on this one on leaving it in at the moment.

We do not know what will be needed in newer iterations of the codebase, and by leaving `lodash` in does enable rapid development; for core and for bundle development.

Underscore is the most popular module, and I would like to think one which has a lot of eyes on the codebase. This means us and the co

[2012-11-15 11:13] bengourley commented on #134
Dammit. My trackpad freaked out and I hit close and comment before I'd finished typing…

If the consensus is that it should stay, then obviously it should stay. I just can't see the reason for keeping dependencies 'just in case'. It takes seconds to do `npm install --save lodash` if a developer decides that they need it (the `--save` option writes the dependency to `package.json` so you don't even

[2012-11-15 11:29] tomgco commented on #124
I thought we decided in our tech meeting @serby that we were going to assign the parameter to itself as this suppresses all unused errors in that file?

[code]

[2012-11-15 21:09] microadam commented on #107
Have now, see latest pull request

[2012-11-15 21:49] #122 closed, assigned to jackbrewer

[2012-11-15 21:58] serby commented on #70
Sorry I missed your first comment about rows. Sounds good, I'll have to give it go.

[2012-11-15 22:15] #70 closed, assigned to jackbrewer

[2012-11-16 10:09] serby commented on #136
I think it is important that people understand that it is the service locator pattern. Some dependency injectors get passed around as 'dl', my only concern with that is that people will start turning everything into acronym which is really bad.

I has debate renaming this myself many times, but I've never quite managed to convince myself. I want to have an architectural debate soon, so let's leave

[2012-11-16 10:09] #71 closed, assigned to jackbrewer

[2012-11-16 10:10] serby commented on #81
Closing as this is now possible.

[2012-11-16 10:10] #81 closed, assigned to nobody

[2012-11-16 16:10] serby commented on #134
'except some extra waiting around at install/deployment time' If each of the 9 functions I listed was a module, the combined weight of the code, the package.json, the tests, readme and the fact that each would be over a new HTTP connection is likely to be equal if not greater than the size/speed of underscore.

[2012-11-16 17:21] #124 closed, assigned to nobody

[2012-11-16 17:24] bengourley commented on #134
9 functions? We use 2? Anyway, 9 functions would not be a meg and npm does http reqs in parallel.

[2012-11-16 18:31] serby commented on #134
That's only because everything is striped out of ctrl. There are ~9 in
regular usage at Clock.

Also _.pluck uses _.map. _.min and _.max use _.each. _.shuffle uses
_.random. _.union uses _.uniq which uses _.contains.  _.intersection uses
_.filter. etc. The dependency tree grows and grow until you pretty much
have the entire of underscore. Underscore is good enough from
a cohesion point of view to

[2012-11-19 11:06] bengourley commented on #134
I can see these ways in which it could be decoupled:
- Array functions
- Object functions
- Function functions
- Template language

Not in the browser, because they all tend to rely on the ES5 polyfills, but in Node I think that would definitely make sense.

If the goal was to be 'pure', yes. But using 1/20 functions in a much smaller library is more acceptable (for me).

[2012-11-22 09:03] tomgco opened #142 "*tw"

[2012-11-22 09:14] serby commented on #142
I'm not sure I know what this means?

[2012-11-22 09:15] tomgco commented on #142
Sorry must of created this by mistake!

[2012-11-22 09:15] #142 closed, assigned to nobody

[2012-11-29 17:57] domharrington opened #143 "Default sections?"
Should we add some default sections and content to ctrl when the first admin user creates an account?

It seems a little misleading to have a '/blog' link in the main nav then for it to return a 404 page straight after setup.

[2012-11-29 18:12] domharrington opened #144 "404 page styles"
The styles appear to be broken on the 404/error page. Is there any reason why they do not extend the layout that is present throughout the rest of the front end?

[2012-12-02 12:12] serby commented on #143
Sections are not very complete. A quick fix would to make it look less broken would be good.

[2012-12-02 22:37] jackbrewer commented on #143
I've removed the static links to non-existent sections for now to avoid 404s.

Default content would be good – a dynamic nav to go with it would be amazing!

[2012-12-02 22:42] jackbrewer commented on #144
I've fixed the visual bugs, but by duplicating the template with 2 minor changes.

The main problem I encountered is that while the error page can technically extend the default template, it doesn't have a 'page' variable defined to set page title and body class. This is causing errors.

If someone more technical can assist with that, I can remove the duplicate template.

[2012-12-03 19:50] domharrington commented on #143
I see that in main-navigation.jade there is a commented out version of a dynamic nav. Do you have an idea of how you would like this to be implemented? Is it intended to be an output of bundle item navs or sections? Or both?

[2012-12-03 21:21] jackbrewer commented on #143
The commented out code was intended to duplicate the admin bundle nav functionality, but I didn't finish it as I was unsure of the best implementation. This can be removed.

I'm not sure of a simple way for the main nav to work without User input for ordering etc. Would the links output in the order the bundles are included? It would definitely be good to get something working in the short term.

[2012-12-03 22:28] #144 closed, assigned to jackbrewer

[2012-12-19 17:06] microadam commented on #107
This can be closed now

[2012-12-20 14:24] #107 closed, assigned to nobody

[2012-12-20 19:30] domdoescode opened #152 "Doubled up pre-create validators?"
[Is this meant to be the case?](https://github.com/serby/ctrl/blob/master/bundles/article/lib/model.js#L96) Line 96-98 is duplicated exactly on line 100.

[2012-12-20 22:10] domharrington commented on #152
I would guess not. Does it get run twice?

[2012-12-21 23:52] serby commented on #152
Possibly it should be updateValidate

[2012-12-27 11:32] joaovpmamede opened #153 "Object has no method 'redactor'"
On the Admin/article when on html mode.
Are you planning to use redactor in the future?

[2013-01-18 13:15] serby opened #154 "Generic pages uses model.name which isn't always human readable"

[2013-04-27 13:06] illucent opened #155 "bcrypt module not found"
hi!

[code]

[code]

[2013-06-11 10:06] serby commented on #155
bcrypt is an NPM module. I don't think you've got your system setup correctly to build binary modules.

[2013-06-11 10:06] #155 closed, assigned to nobody

[2013-07-22 09:33] alexbaumgertner commented on #153
Check, maybe you load another jQuery lib in this page and it override first jQuery.fn.redactor. I have some problem and the reason is: doble times loading jQuery libs on the page with the Redactor.

[2019-06-23 22:05] greenkeeper[bot] opened #156 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat